* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

header {
  background-color: #c7eea2;
  padding: 16px 0;
  color: #494848;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}

form {
  padding: 24px 0;
  text-align: center;
}

input, button {
  padding: 8px;
}

button {
  background-color: #009432;
  border: none;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}

.lista-tarefas {
  display: flex;
  justify-content: center;
}

#nova-tarefa:hover {
  cursor: pointer;
}

